{
  "nickname": "bot_nickname",
  "username": "bot_username",
  "realname": "bot_realname",
  "admins": [
    "your_user"
  ],
  "server": {
    "address": "irc.freenode.net",
    "port": 6667,
    "nickserv_password": "ns_pass",
    "channels": [
      "#autojoin",
      "#channels"
    ]
  }
}